<h1>Pagina personal</h1>
@model Personal

@Html.LabelFor(c=>c.name, "NAME: ") @Model.name <br/>
@Html.LabelFor(m=>m.lastname, "LASTNAME: ") @Model.lastname <br/>
@Html.LabelFor(m=>m.age, "AGE: ") @Model.age <br/>
@Html.LabelFor(m=>m.email, "EMAIL: ") @Model.email <br/>
@Html.LabelFor(m=>m.telephone, "TELEPHONE: ") @Model.telephone <br/>
@Html.LabelFor(m=>m.address, "ADDRESS: ") @Model.address <br/>